version: '3.8'
services: 
    web:
        image: ghcr.io/php1301/doanwebbe:v2
        # build: 
        #     context: .
        #     dockerfile: Dockerfile
        command: >
             sh -c "mkdir storage/framework/views &&
             php artisan cache:clear &&
             php artisan config:clear &&
             php artisan serve --host=0.0.0.0 --port=8000"
        env_file:
          - .env
        # volumes:
        #     - .:/app
        ports:
            - 8000:8000
    npm:
        image: node:14-alpine
        container_name: my-app-npm
        volumes:
            - .:/var/www/html
        working_dir: /var/www/html
        entrypoint: [ 'npm' ]

    